@font-face {
  font-family: pixelFont;
  src: url(../fonts/pixel-font.ttf);
}
$color-primary: rgb(255, 20, 147);
$color-fonts: rgb(0, 0, 0);
$margin: 1em;
$canvas-width: 300px;
$canvas-height:300px;
*{
    font-family: sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: rgb(211, 204, 204) solid 1px;
    
    a{
        text-decoration: none;
        color: $color-fonts;
        cursor: pointer;
        &:hover{
            color: $color-primary; 
        }
    }
}
#name-app{
    color: $color-primary;
    font-family: pixelFont;
    font-size:40px;
    font-weight: 100;
  
}

#main{
    margin:$margin;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#table{
    width:600px;
    margin-top: $margin;
    display: flex;
    flex-wrap: wrap;
    
    div{
    border: 1px solid rgb(188, 184, 184);
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255); 
    }
}
#panel{
    width:600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid rgb(188, 184, 184);
}

#color-picker{
    width:$canvas-width*2;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(188, 184, 184);
    @for $i from 1 to 3{
        #col-#{$i}{
        
         width: $canvas-width*0.90;
        padding: $canvas-width*0.05;
            div{
                 width: $canvas-width*0.90;
            }
        }
    }
  
    canvas{
       width: $canvas-width*0.90;
       height: $canvas-height*0.1;
       border-radius: 5px;
    }
}
   
#color{
    height: $canvas-height*0.5 !important;
}